$font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol";
$font-weight: (
  lighter: 100,
  light: 300,
  regular: 400,
  bold: 700,
  strong: 900
);
$color: (
  1: #ff694d,
  2: #243b55,
  3: #141e30
);
$social: (
  facebook: #3b5998,
  behance: #1769ff,
  instagram: #e1306c,
  twitter: #1da1f2,
  linkedin: #007bb6
);
